*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
  background-color: #111111;
  color: #333;
  zoom: 0.9;
  transform-origin: top center;
  overflow-x: hidden;
}

header {
  text-align: center;
  padding: 3rem 1rem;
  background: "";
  color: white;
  max-width: 1300px;
  margin: 2rem auto;
  padding: 0 1rem;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

header p {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 32px;
}

.hero {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-text {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
}

.content {
  text-align: center;
  padding: 3rem 1rem;
  background: "";
  color: white;
  max-width: 1550px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.content h2 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 40px;
}

.content p {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 32px;
}

.gallery {
  padding: 2rem 1rem;
}

.gallery h2 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 40px;
}

.gallery p {
  text-align: center;
  max-width: 1000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  text-align: center;
  
}

.grid img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

footer {
  text-align: center;
  padding: 1.5rem;
  background: #333;
  color: white;
  margin-top: 2rem;
}

footer h2 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 25px;
}

footer p {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 20px;
}

button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #0056b3;
}

#new-content {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 16.5px;
  padding: 1.5rem;
  position: relative;
}

#new-content img {
  width: 300px;
  margin: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

#animation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 10001;
}

#plane {
  position: absolute;
  width: 200vw;
  height: 200vh;
  opacity: 0;
}

.fly-forward {
  animation: planeFlyForward 4s forwards ease-in-out;
}

.fly-back {
  animation: planeFlyBack 4s forwards ease-in-out;
}

@keyframes planeFlyForward {
  0% {
    bottom: -200vh;
    left: -200vw;
    opacity: 1;
  }
  50% {
    bottom: 0;
    left: 0;
    opacity: 1;
  }
  100% {
    bottom: 120%;
    left: 120%;
    opacity: 1;
  }
}

@keyframes planeFlyBack {
  0% {
    bottom: 120%;
    left: 120%;
    opacity: 1;
  }
  50% {
    bottom: 0;
    left: 0;
    opacity: 1;
  }
  100% {
    bottom: -200vh;
    left: -200vw;
    opacity: 1;
  }
}

.hidden {
  display: none;
}

#sky-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
  z-index: 10000;
}

#popup-image img {
  width: 200vw;
  height: 200vh;
}

#sky-overlay.show {
  opacity: 1;
}
